node_modules/

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/captures/
android/.idea/
*.iml

# iOS
ios/App/Pods/
ios/App/build/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
